*
!.dockerignore
!Dockerfile
!app/
!app/Makefile
!app/build.gradle.kts
!app/gradle.properties
!app/gradlew
!app/gradlew.bat
!app/settings.gradle.kts
!app/config/
!app/config/**
!app/gradle/
!app/gradle/**
!app/src/
!app/src/**
